
#container{
    margin-top: 100px ;
    height: 400px;
    width: 500px;
    background-color: gray;
    display: flex;
  padding: 40px;
     border-radius: 50px;
     flex-direction: column;
}
#container .home{
    background-color: pink;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    
}
